$lightGray: #efefef;
$darkGray: #2b2b2b;
$darkRed: #a52a2a;
$successGreen: #1fb51f;
$darkYellow: #c7c71d;
$fadeBlue: #3e3d50;

@mixin box-sizing($type){
	-webkit-box-sizing:$type;
	-moz-box-sizing:$type;
	box-sizing:$type;
}

.wrapper {
	font-family:sans-serif;
	width:80%;
	margin:auto;
	margin-top:40px;
}

.main-header {
	text-align:center;
	color:white;
	line-height:3em;
	background-color:$lightGray;
	margin-bottom:20px;
	border-radius:2px;
	color:$darkGray;
}

.deadlinesTable {
	display:inline-table;
	width:79%;
	vertical-align:top;
}

.sidebar {
	display:inline-block;
	width:20%;
	vertical-align:top;
	margin-right:1%;
	padding:10px;
	@include box-sizing(border-box);
}

table {
	border:none;
}

th {
	line-height:2.5em;
	// background-color:$darkRed;
	background-color:$fadeBlue;
	font-weight:bold;
	color:#FFF;
}

td {
	line-height:1.5em;
	padding:5px;
}

td.urgencyIndicator {
	color:$lightGray;

	&.chill {background-color: $successGreen;}
	&.medium {background-color: $darkYellow;}
	&.stress {background-color: $darkRed;}
}

tr:nth-child(even) {
	background-color:$lightGray;
	color:$darkGray;
}

tr:nth-child(odd) {
	color:$darkGray;
}

.cursor {
	cursor:pointer;
}

.status {
	color:$lightGray;
	&.untouched {
		background-color:$darkRed;
	}
	&.started {
		background-color:$darkYellow;
	}
	&.finished {
		background-color:$successGreen;
	}
}